noscript {
	text-align: center;
	font-size: 25px;
	color: #bb7a20;
}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	user-select: none;
}

[type=text], [type=password], [type=button], [type=submit], textarea {
	border: 1px solid #222;
	outline: none;
	color: white;
}

[type=button], [type=submit] {
	cursor: pointer;
}

::placeholder {
	color: #434343;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana;
	line-height: 2em;
	background: #111;
	margin: 0;
}


/*
-------------------
MAIN WINDOW (BUBBLE)
-------------------
*/

div#bubble {
	position: relative;
	z-index: 1;
	width: 716px;
	height: 95vh;
	background: #222;
	border: 6px solid #444;
	margin: auto;
}

div#bubble div#header {
	width: 100%;
	height: 28px;
	padding: 8px 0 0 0;
	direction: ltr;
}

div#bubble img.logo {
	display: inline;
	padding: 1px 0 0 0;
	float: left;
	height: 34px;
	border-radius: 5px 0 5px 5px;
	margin: -5px 5px 0 5px;
	direction: ltr;
}

div#bubble #logoText {
	display: inline-block;
	position: relative;
	z-index: 100;
	color: #0087AF;
	-webkit-font-smoothing: none;
	font-size: 30px;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
	cursor: default;
}

div#bubble #optionButtons {
	display: none;
	float: right;
	position: absolute;
	top: -1px;
	right: 2px;
}

div#bubble .button {
	margin: 7px 0 0 3px;
	width: 14px;
	height: 14px;
}

div#bubble #login {
	position: relative;
	margin: 70px auto 0 auto;
	width: 60%;
	height: 125px;
}

div#bubble #login [type=text] {
	position: absolute;
	left: 0;
	padding: 5px 0;
	outline: none;
	border: none;
	background: transparent;
	border-bottom: 2px solid #0087AF;
	font-size: 2.2em;
	color: white;
	text-align: center;
}

div#bubble #login #conversationName {
	width: 100%;
}

div#bubble #login #nickname {
	position: absolute;
	width: 65%;
	bottom: 30px;
}

div#bubble #login input[type="submit"] {
	position: absolute;
	bottom: 30px;
	right: 0;
	width: 30%;
	height: 30%;
	border: none;
	border-radius: 4px 0 4px;
	background: #0087AF;
	font-size: 1.6em;
}

div#bubble #login input[type="submit"]:hover {
	background: #c99536;
}

div#loginInfo {
	position: absolute;
	bottom: 0;
	width: 65%;
	text-align: center;
	color: white;
	font-size: 1.1em;
}

div#advanced {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30%;
	text-align: center;
	color: white;
	font-size: .9em;
}

div#bubble h1 {
	font-family: Helvetica, Arial;
	font-size: 1.5em;
}

div#bubble #footer {
	background: #444;
	width: 100%;
	height: 14px;
	padding: 1px 0 2px 0px;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
	z-index: 20;
}

div#footer a {
	color: #FFF;
}

div#footer #version {
	font-size: 8px;
	font-family: monospace;
	color: #FFF;
	float: left;
	margin-left: 4px;
}

/*
-------------------
BUDDY LIST
-------------------
*/

#userMenu {
	display: none;
	overflow: hidden;
	float: right;
	line-height: 13px;
}

.buddy {
	width: 110px;
	height: 15px;
	background: #444;
	border-radius: 2px 0 0 2px;
	margin-top: 1px;
	background-position: 80% 4px;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	color: #FFF;
	padding: 5px 4px 3px 6px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1em;
	display: none;
	position: relative;
	cursor: pointer;
	z-index: 15;
}

.buddy .nickname {
	max-width: 90%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buddy.composing {
	background-image: url("../img/icons/pencil2.svg");
	background-position: 92%;
	background-size: 10px 10px;
}

.buddy[status=away] span {
	color: #aab;
}

.buddy[status=offline] span {
	color: #BBB;
	border-bottom: none;
}

.buddy.currentConversation {
	background-color: #0087AF;
	color: #FFF !important;
}

.buddy.currentConversation span {
	color: #FFF !important;
}

.buddy.ignored span {
	text-decoration: line-through;
}

.buddy:hover {
	background-color: #00AEDE;
}

.buddy.active {
	background-color: #70B7DE;
}

.buddyMenu {
	background-color: #434343;
	border: 0.1em solid #00AEDE;
	border-radius: 4px 4px 4px 4px;
	z-index: 9999;
    position: absolute;
    overflow: hidden;
	font-size: 0.9em;
	width: 110px;
}

.buddyMenu li {
	padding-left: 5px;
	color: white;
	list-style-type: none;
	font-size: 1em;
	cursor: pointer;
}

.buddyMenu li:hover {
	background: rgba(255, 255, 255, 0.2);
}

#buddy-group {
	display: block;
	background-image: url("../img/icons/users.svg");
	background-position: 96% 4px;
}

/* New message notification stuff */
@-webkit-keyframes pulse {
	0% {background-color: #000000;}
	50% {background-color: #CCC;}
	100% {background-color: #000000;}
}

@-moz-keyframes pulse {
	0% {background-color: #000000;}
	50% {background-color: #CCC;}
	100% {background-color: #000000;}
}

@-o-keyframes pulse {
	0% {background-color: #000000;}
	50% {background-color: #CCC;}
	100% {background-color: #000000;}
}

@keyframes pulse {
	0% {background-color: #000000;}
	50% {background-color: #CCC;}
	100% {background-color: #000000;}
}

.newMessage {
	-webkit-animation: pulse 2s infinite;
	-moz-animation: pulse 2s infinite;
	-o-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
}

/*
-------------------
DIALOG BOX
-------------------
*/

#dialogBox {
	position: absolute;
	width: 470px;
	height: 240px;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	border-radius: 8px 0 8px 8px;
	margin: 50px auto 0 -240px;
	z-index: 4;
	left: 50%;
	font-size: 1.1em;
	background: #FCFCFC;
	display: none;
	color: #151520;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.dialogBoxError {
	border-color: #F00 !important;
}

.dialogBoxError #openAuth {
	padding: 10px;
	margin: 20px auto 0 auto;
}

#dialogBox [type=text], #dialogBox [type=password], #dialogBox [type=submit] {
	color: #FFF;
	float: left;
	margin: 0 5px 10px 5px;
	font-size: 1em;
}

#dialogBoxClose {
	height: 18px;
	width: 0;
	font-size: 0;
	text-align: center;
	color: #FFF;
	background: #C0C0C0;
	float: right;
	margin-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-family: Helvetica, Arial, Verdana;
	font-weight: bold;
}

.dialogBoxError #dialogBoxClose {
	background: #F00 !important;
}

#dialogBoxContent {
	padding: 25px 0 0 0;
}

#dialogBoxContent p {
	padding: 10px;
	padding: 10px;
	max-width: 340px;
	margin: 0 auto;
}

#displayInfo {
	font-size: 1.1em;
	padding: 10px 20px;
	height: 80px;
}

#displayInfo h2 {
	color: #000;
	margin: 0;
	font-size: 13px;
	margin-right: 10px;
}

#authenticated {
	font-size: 0.9em;
	cursor: pointer;
	padding: 1px 30px;
	height: 20px;
	border: 1px solid #999;
	background-color: transparent;
	color: #999;
	text-align: center;
	border-radius: 5px 0 5px 5px;
	display: inline-block;
	margin: 3px 25px 0 0;
	opacity: 0.4;
}

#authenticated:hover {
	opacity: 0.8;
}

#authenticated[data-active=true] {
	color: #FFF;
	background-color: #999;
	opacity: 1;
}

#notAuthenticated {
	font-size: 0.9em;
	cursor: pointer;
	padding: 1px 30px;
	height: 20px;
	border: 1px solid #EF6C74;
	background-color: transparent;
	color: #EF6C74;
	text-align: center;
	border-radius: 5px 0 5px 5px;
	display: inline-block;
	opacity: 0.4;
}

#notAuthenticated:hover {
	opacity: 0.8;
}

#notAuthenticated[data-active=true] {
	color: #FFF;
	background-color: #EF6C74;
	opacity: 1;
}

.authInfo {
	background: #ECECEC;
	height: 130px;
	padding: 5px 8px;
	margin: 5px auto 0 auto;
	border-radius: 8px 0 8px 8px;
}

.authInfo h2 {
	font-size: 16px;
	padding: 3px;
	margin: 0 0 5px 0;
}

.authInfo #authQuestion, .authInfo #authAnswer {
	background: #999;
	padding: 4px;
	width: 260px;
	border: none;
	font-size: 1.05em;
	border-radius: 5px 0 5px 5px;
}

.authInfo #authSubmit {
	float: right;
	width: 100px;
	height: 57px;
	margin: -35px 20px 0 0;
	border-radius: 5px 0 5px 5px;
	font-size: 1.2em;
	background: #0087AF;
	border: none;
	word-wrap: break-word;
}

#authVerified {
	text-align: center;
	font-size: 1.1em;
	color: #FFF;
	text-shadow: #FFF;
	display: none;
}

#authReplyForm {
	margin: -20px 0 5px 55px;
}

#authReply {
	background: #C0C0C0;
	border: none;
	border-radius: 5px 0 5px 5px;
	padding: 4px;
	width: 220px;
}

#authReplyQuestion {
	display: block;
	overflow: hidden;
}

#authReplySubmit {
	width: 100px;
	border-radius: 5px 0 5px 5px;
}

#dialogBox #fileInfoField {
	padding: 20px;
}

#dialogBox .title {
	padding: 5px 20px 5px 10px;
	border-left: none;
	background: #C0C0C0;
	max-width: 220px;
	margin-bottom: 2px;
	color: #FFF;
	font-size: 1.5em;
}

#dialogBox .errorTitle {
	background: #F00 !important;
}

#dialogBox #fileSelectButton {
	margin: 30px auto 10px auto;
	padding: 10px;
	border-radius: 4px 0 4px 4px;
	font-size: 1.2em;
}

#dialogBox #fileInfoField {
	color: #444;
}

#dialogBox #resetKeysOK {
	background: #AAA;
	border: 1px solid #C0C0C0;
	color: #C0C0C0;
	margin: 0 auto;
	width: 100px;
	font-size: 1.2em;
	cursor: pointer;
}

#dialogBox [type=checkbox] {
	width: 10px;
	height: 10px;
}

#otrFingerprint, #multiPartyFingerprint {
	font-weight: 600;
	font-size: 14px;
	font-family: monospace;
}

#fileSelector {
	display: none;
}

#fileErrorField {
	color: #F00;
	margin: 20px 0;
	font-weight: bold;
}

/*
-------------------
CONVERSATION WINDOW
-------------------
*/

#conversationInfo {
	color: #FFF;
	font-size: 1em;
	margin: 0 0 0 20px;
	position: relative;
	bottom: 4px;
	display: none;
}

#conversationInfo .conversationName {
	color: #FFF;
	background: #999;
	padding: 2px 7px;
	border-radius: 3px 0 3px 3px;
	font-size: 1.1em;
	margin-left: -5px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #747474 transparent;
}

*::-webkit-scrollbar {
	width: .3em;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #747474;
	border-radius: 20px;
}

#chatWindow {
	display: none;
	position: absolute;
	width: 80%;
	height: calc(100% - 120px);
	padding: 0 8px;
	margin-top: 8px;
	font-size: 1.15em;
	overflow-x: hidden;
	overflow-y: scroll;
}

#chatWindow .sender {
	font-size: 0.95em;
	margin: 0 10px 0 -4px;
	border-radius: 0 0 3px 0;
	padding: 2px 4px;
	width: 16%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

#chatWindow .message {
	vertical-align: middle;
}

#chatWindow .nickHighlight {
	color: #999;
}

.missingRecipients {
	background: #444;
	border-radius: 4px 0 0 0;
	margin-bottom: 1px;
	color: #DDD;
	font-size: 0.8em;
	padding: 0 10px;
	opacity: 0;
	display: inline-block;
	max-width: 90%;
}

.line {
	border: 2px solid #999;
	border-radius: 3px 0 3px 3px;
	padding: 0 4px 0 4px;
	color: #fff;
	word-wrap: break-word;
	position: relative;
	margin-bottom: 8px;
	font-size: 1em;
	max-width: 96%;
	white-space: pre-wrap;
	top: 10px;
}

.line.no-animate {
	top: 0;
}

.line .sender {
	background: #999;
	color: #fff;
}

#userInput {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6vh;
	padding: 6px 0 0;
	background-color: #444;
}

#userInputText {
	background: #333;
	border-radius: 7px;
	height: 100%;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	resize: none;
}

.fileView {
	background: #C0C0C0;
	color: #FFF;
	padding: 0 5px 0 21px;
	font-size: 0.9em;
	border-radius: 3px 0 3px 3px;
	background-image: url("../img/icons/text-file2.svg");
	background-size: 16px auto;
	background-position: center left;
	background-repeat: no-repeat;
	display: inline-block;
}

.userJoin, .userLeave {
	width: 165px;
	display: block;
	margin: 0 0 8px 0;
	padding: 0 5px;
	color: #FFF;
	border-radius: 3px 0 3px 3px;
	font-size: 0.9em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.userLeave {
	background: #444;
	color: #DDD;
}

.userJoin .timestamp, .userLeave .timestamp {
	background: rgba(0, 0, 0, 0.2);
	padding: 3px 4px 2px 4px;
}

.userJoin strong, .userLeave strong {
	margin: 0 5px 0 7px;
	font-size: 1.4em;
	vertical-align: -1px;
}

.fileView:hover {
	text-decoration: none;
}

.monospace {
    font-size: 1.3em;
	position: relative;
	top: 1px;
}

.decrypt-error {
	width: 45%;
	background: url('../img/icons/warning.svg') no-repeat center left;
	background-size: 16px 16px;
	color: white;
	font-size: 0.95em;
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.decrypt-error .content {
	margin-left: 25px;
}
